body{
	text-align:center;
}
#wrapper{
	width:800px;
	height:400px;
	margin:0 auto;
}
button{
	margin:10px;
	font-size:250%;
}
#user{
	background:green;
	width:50%;
	height:100%;
	float:left;
}
#comp{
	background:red;
	width:50%;
	height:100%;
	float:right;
}
